* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/*END OF CSS RESET*/

section{
  min-height: 100vh;
}

#section1{
  background-image: url(hacker.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
}

input[type="email"], [type="password"]{
  border: 2px solid black;
}
